/all.txt
/all.txt.hi
/business-operations-survey-2022-information-and-communications-technology.csv.hc
/business-operations-survey-2022-information-and-communications-technology.csv.hi
/const.htm
/defaultHuffmanCodes.hi
/filecompress.o
/out.txt
/pract.txt.hc
/pract.txt.hi
/pract2.txt
/shakespeare-romeo-48.txt.hc
/shakespeare-romeo-48.txt.hi
/shakespeare-romeo-48.txt2
/target.exe
/zipdelim.txt